.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 180%
}
.img-button{
    margin: 10px auto;
}
input[type="file"] {
    visibility: hidden;
}
.delete{
    background-color: rgb(1, 1, 10);
    position: absolute;
    color: white;
}
.imagePreview {
    margin: 0px 0px 5px 0px;
}

